.container.col-xs-offset-1.col-xs-10
  h2 Game ID: {{$ctrl.Game.model._id}}
  form
    .form-group.col-xs-8.col-sm-4
      input.form-control.text-center.btn-block(type="text" ng-model="$ctrl.newName" placeholder="enter new name" maxlength=15)
    .form-group.col-xs-4.col-sm-4
      button.btn.btn-default(type="submit" ng-click="$ctrl.changeName()") Set Name

.container.col-xs-offset-3.col-xs-6.col-sm-offset-2.col-sm-3.col-md-2
  br
  .centered
    h4 Players:
    player-list
  .btn-block
    br
    br
    button.btn.btn-primary.btn-block(ng-click='$ctrl.leaveGame()') Leave Game
    br
    button.btn.btn-primary.btn-block(ng-click='$ctrl.startGame()', ng-show="$ctrl.Player.model._id == $ctrl.Game.model.players[0] && $ctrl.Game.model.players.length > 4") Start Game
