.container.col-xs-offset-2.col-xs-8
  div.text-center
    span(ng-show="$ctrl.GameData.showRole && $ctrl.GameData.isSpy && $ctrl.GameData.playerIndex >= 0") You are a spy&nbsp;
      spy-glyph
    span(ng-show="$ctrl.GameData.showRole && !$ctrl.GameData.isSpy && $ctrl.GameData.playerIndex >= 0") You are resistance
    span(ng-show="$ctrl.GameData.showRole && $ctrl.GameData.playerIndex === -1") You are an observer
  br(ng-show="!$ctrl.GameData.showRole")
.container.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8
  mission-info
.container.col-xs-12
  br
  .centered
    player-list
  end-game
  mission-vote
