ui-view
.container.col-xs-12
  div(ng-show="$ctrl.Game.model.nameHash[$ctrl.Player.model._id] === 'donghyun'")
    input(ng-model="$ctrl.debug" type="checkbox")
    span &nbsp; debug
  div(ng-show="$ctrl.debug === true")
    h5 Player.model: {{$ctrl.Player.model}}
    h5 Game.model: {{$ctrl.Game.model}}
    h5 playerIndex: {{$ctrl.GameData.playerIndex}}
    h5 isSpy: {{$ctrl.GameData.isSpy}}
    h5 isLeader: {{$ctrl.GameData.isLeader}}
    h5 onMission: {{$ctrl.GameData.onMission}}
    h5 currRound: {{$ctrl.GameData.currRound}}
    h5 playerList: {{$ctrl.GameData.playerList}}
    h5 $state: {{$ctrl.$state.current.name}}
