ui-view
//- <!-- build:remove -->
//- h5 {{$ctrl.Player.model}}
//- h5 {{$ctrl.Game.model}}
//- h5 spy: {{$ctrl.GameData.isSpy}}
//- h5 leader: {{$ctrl.GameData.isLeader}}
//- h5 onmission: {{$ctrl.GameData.onMission}}
//- h5 {{$ctrl.GameData.currRound}}
//- h5 player list {{$ctrl.GameData.playerList}}
//- <!-- /build -->
